

@font-face {
    font-family: "BigDailyShort-LightItalic" ;
    src: url(../font/BigDailyShort-LightItalic.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "ClashDisplay-Medium";
    src: url(../font/ClashDisplay-Medium.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: "Surt-Regular";
    src: url(../font/Surt-Regular.woff2) format('woff2');
    font-weight: 400;
}